.first-line

  h1.visually-hidden "Miture Architecture", студия дизайна интерьера

  img.header__logo(src="#", alt="Miture Architecture", width="155", height="85")

  nav.header__navigation
    ul.header__list
      li.header__item.header__item--current Главная
      li.header__item Блог
      li.header__item Портфолио
      li.header__item Кейсы
      li.header__item Магазин

  address
    span Телефон
    a(href="tel:+7(343)255-655") +7 (343) 255-655
    
.header__promo

  div.promo__slider
    div.promo__slider-item
      h2.promo__slider-item-heading.visually-hidden Небольшой надзаголовок
      p.promo__slider-item-description Объединяем ваши желания и лучший интерьерный дизайн
      a.promo__slider-item-button.button(href="#") Подробнее
    p.promo__slider-arrows
      button.promo__slider-arrow.promo__slider-arrow--left(type="button")
      button.promo__slider-arrow.promo__slider-arrow--right(type="button")