header.header
    .container
        .row 
            .logo.col-md-3.col-xs-12
                a(href="#") LOGO
            .top-menu-wrap.col-md-6.col-xs-12
                nav.top-menu.container
                    ul.row 
                        li
                            a(href="#") Главная
                        li
                            a(href="#") О нас
                        li
                            a(href="#") Новости
                        li
                            a(href="#") Статьи
                        li
                            a(href="#") Доставка и оплата
                        li
                            a(href="#") Контакты
            .right.col-md-3.col-xs-12
                button.callme Перезвоните мне
