extends components/particles/layout.pug

block title
  title Главная

block contentBlock
  section.slider__box.offer
    .container
      .slider__item 
      | asda
  section.pl
  .container 
    h1 
      | dasd
          

