extends components/particles/layout.pug

block title
  title Главная

block contentBlock
  section.offer
    .container
      .swiper-container
        .swiper-wrapper 
          .swiper-slide
            .offer__inner
              .offer__title
                | Небольшой надзаголовок
              .offer__info 
                | Объединяем&nbsp;ваши желания и&nbsp;лучший&nbsp;интерьерный дизайн
              .offer_btn 
                button Подробнее
          .swiper-slide
            .offer__inner
              .offer__title
                | Небольшой надзаголовок
              .offer__info 
                | Объединяем&nbsp;ваши желания и&nbsp;лучший&nbsp;интерьерный дизайн
              .offer_btn 
                button Подробнее
          .swiper-slide
            .offer__inner
              .offer__title
                | Небольшой надзаголовок
              .offer__info 
                | Объединяем&nbsp;ваши желания и&nbsp;лучший&nbsp;интерьерный дизайн
              .offer_btn 
                button Подробнее
        .swiper-button-prev.btn-top-prev
        .swiper-button-next.btn-top-next


  section.pl
  .container 
    h1 
      | dasd
          

