extends components/particles/layout.pug

block title
  title Главная

block contentBlock
  section.slider__box.offer
    .container
      .offer__inner
        .offer__title
          | Небольшой надзаголовок
        .offer__info 
          | Объединяем ваши желания и лучший интерьерный дизайн
        .offer_btn 
          button Подробнее
  section.pl
  .container 
    h1 
      | dasd
          

