extends components/particles/layout.pug

block title
  title Главная

block contentBlock
  .container
    .row      
      .col-lg-6.col-xs-12
        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque velit temporibus architecto, commodi fugiat rem vero aperiam earum aspernatur eius ab, possimus voluptatem suscipit quos ea magnam quidem a maiores nisi ducimus sint unde doloremque rerum nobis. Quia tempore iusto aspernatur eius accusamus consequatur optio officiis, enim quam rem. Magnam, id nisi sequi neque ipsam recusandae iure excepturi nemo ratione velit earum ipsum. Inventore, voluptatem. Soluta cumque praesentium voluptas dolorem beatae possimus quis inventore exercitationem fugiat dignissimos maiores modi temporibus ullam, in sequi consequuntur quaerat aspernatur illum aliquam dolorum ipsa eius nobis corporis cum! Consequatur vitae quibusdam ratione suscipit voluptatibus?fdsfdfd
  
      .col-lg-6.col-xs-12
        | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolore nisi quod, deleniti cumque molestias qui possimus maxime a optio sit accusantium magnam voluptates placeat excepturi dolor voluptate eum nesciunt est beatae enim quibusdam minima laborum doloremque voluptatibus. Unde deleniti amet dolor quibusdam, delectus distinctio perspiciatis veniam eum, suscipit libero vel sed quos! Adipisci veniam repellat totam quisquam atque suscipit ab pariatur dolorum alias commodi, quae quaerat consequatur quasi obcaecati provident in corporis officia perspiciatis, voluptates amet. Molestiae officia, ipsum aut maiores vero iure sint officiis consectetur voluptatem ut harum itaque illo eius in fugit incidunt. Natus tempora dolorem officiis non vero est odit, amet illum excepturi corporis iste ea qui, et labore. Aliquam odio aliquid atque blanditiis incidunt quasi corrupti veniam ipsum laboriosam distinctio, temporibus debitis esse ullam odit iure rerum reprehenderit asperiores minus eligendi, error adipisci. Obcaecati assumenda voluptate, amet esse blanditiis in aperiam nemo odit quaerat aliquid quia!
 

      
          

