extends components/particles/layout.pug

block title
  title Главная

block contentBlock
  //- .container
  //-   .row
  //-     .col-12
  //-         p Я пока не вникал в сакральный смысл этого контейнера через стили, потому пока спрячу его

  section.about
    h2.visually-hidden О нас
    //- Считаю данное изображение контентным, так как на нём есть пример работы, а значит он может повлиять на выбор клиента. Но честно говоря я вообще не особо понял смысл этой секции. "О компании"-ли она или часть "блога"? Если часть блога - тогда, конечно, изображение декоративное, а "Эмоциональный дизайн интерьера" - заголовок
    img(src="#", alt="Пример дизайна интерьера", width="560", height="579")
    b.about__heading Эмоциональный дизайн интерьера
    p.about__description Elements studio – команда амбициозных молодых профессиональных дизайнеров с тонким чувством стиля. Cоздаем современные интерьеры в которых удобно жить.
    a.about__button.button(href="#") Подробнее 