@font-face {
  font-family: 'helvetica';
  src: url("../fonts/helvetica/HelveticaNeueCyr-Light.woff2") format('woff2'), url("../fonts/helvetica/HelveticaNeueCyr-Light.woff") format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'helvetica';
  src: url("../fonts/helvetica/HelveticaNeueCyr-Heavy.woff2") format('woff2'), url("../fonts/helvetica/HelveticaNeueCyr-Heavy.woff") format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'helvetica';
  src: url("../fonts/helvetica/HelveticaNeueCyr-Thin.woff2") format('woff2'), url("../fonts/helvetica/HelveticaNeueCyr-Thin.woff") format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'helvetica';
  src: url("../fonts/helvetica/HelveticaNeueCyr-Roman.woff2") format('woff2'), url("../fonts/helvetica/HelveticaNeueCyr-Roman.woff") format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'helvetica';
  src: url("../fonts/helvetica/HelveticaNeueCyr-Medium.woff2") format('woff2'), url("../fonts/helvetica/HelveticaNeueCyr-Medium.woff") format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'helvetica';
  src: url("../fonts/helvetica/HelveticaNeueCyr-Bold.woff2") format('woff2'), url("../fonts/helvetica/HelveticaNeueCyr-Bold.woff") format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Gerbera';
  src: url("../fonts/Gerbera/Gerbera-Black.woff2") format('woff2'), url("../fonts/Gerbera/Gerbera-Black.woff") format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Gerbera';
  src: url("../fonts/Gerbera/Gerbera-Block.woff2") format('woff2'), url("../fonts/Gerbera/Gerbera-Block.woff") format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Gerbera';
  src: url("../fonts/Gerbera/Gerbera-Medium.woff2") format('woff2'), url("../fonts/Gerbera/Gerbera-Medium.woff") format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Gerbera';
  src: url("../fonts/Gerbera/Gerbera-Light.woff2") format('woff2'), url("../fonts/Gerbera/Gerbera-Light.woff") format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Graphik';
  src: url("../fonts/Gerbera/Graphik-Black.woff2") format('woff2'), url("../fonts/Gerbera/Graphik-Black.woff") format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Graphik';
  src: url("../fonts/Gerbera/Graphik-Block.woff2") format('woff2'), url("../fonts/Gerbera/Graphik-Block.woff") format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Graphik';
  src: url("../fonts/Gerbera/Graphik-Regular.woff2") format('woff2'), url("../fonts/Gerbera/Graphik-Regular.woff") format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Graphik';
  src: url("../fonts/Gerbera/Graphik-Medium.woff2") format('woff2'), url("../fonts/Gerbera/Graphik-Medium.woff") format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Graphik';
  src: url("../fonts/Gerbera/Graphik-Light.woff2") format('woff2'), url("../fonts/Gerbera/Graphik-Light.woff") format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}


